
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/site.css">


<div class ="container">
     <img src="~/Logo.png" alt="Logo">

  <h3>Danos informacion tuya</h3>

        <form Action='@Url.Action("IrAlJuego", "Home")' method = "POST">
    <p>
    
    
        <input id="IdNombreUsu" name="username" type="text" placeholder="Nombre">
      
        <select id="Iddificultad" name="dificultad" required>
            <option value=""> Elegí una de estas 4 dificultades </option>
            <option value="1">Fácil</option>
            <option value="2">Medio</option>
            <option value="3">Difícil</option>
            <option value="4">Muy difícil</option>
        </select>
            <input type="submit" >
           
    </p>
 </form>
 <div class="ranking">
    @if (ViewBag.VBIndexJugadores != null && ViewBag.VBIndexJugadores.Count > 0)
    {
        <h2>Ranking</h2>
      
            @foreach (var jugador in ViewBag.VBIndexJugadores)
                {
                    <ul>
                        
                        <li>@jugador.nombre</li>
                        <li>@jugador.CantidadIntentos</li>
                    </ul>
                   
                }
            }
         
        
      
      
    else
    {
        <p>No hay jugadores aún.</p>
    }
</div>
</div>
