
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/site.css">


<div class= "container">
    <h1>Bienvenido Al super Ahorcado <h1>
   <img src="~/Logo.png" alt="Logo">
    <h2> Presione <a  href= '@Url.Action("irAPagPrinc", "Home")' alt = "Ir al ">  acá</a></h2>
    
    
</div>
